# File: clinic-backend/requirements.txt

# Core Framework and Server
fastapi==0.111.0
uvicorn[standard]==0.29.0

# Database (MongoDB ODM and Driver)
beanie==1.26.0
motor==3.4.0
pymongo==4.7.2

# Authentication & Security
passlib[bcrypt]==5.5.0
python-jose[cryptography]==3.3.0
python-jwt==4.0.0

# Configuration
python-dotenv==1.0.1
pydantic-settings==2.2.1

# File Uploads
cloudinary==1.40.0
python-multipart==0.0.9